.MuiDialog-paperWidthSm {
    /* width:80% !important; */
    height:100% !important;
    width:30% !important
}
.MuiOutlinedInput-root {
    position: relative;
    border-radius: 4px 0 0 4px;
}
.gm-style .gm-style-iw-c{
    padding:0 !important
}
.gm-style .gm-style-iw-d{
    overflow: hidden !important;
}
.gm-style-mtc {
    display: none !important;
}
.slick-track {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
    display: block !important;
    display: flex !important;
    margin-left: auto !important;
    margin-right: auto !important;
    align-items: center !important;
}